<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head.ejs')%>
    <title><%=title%></title>
</head>
<body>

    <%- include('../partials/nav.ejs');%>
    <div class="container mt-4">
        <h2>
    
            Hello from about page
        </h2>
        <div>

            <img src="/assests/PortfolioWeb.png" alt="not showing ">
        </div>
    
        <a class="button" href="/download">download</a>

    </div>
</body>
</html>